body{
	background-image: url(gamepad.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

a{
  color:white !important;
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
  color: white!important;
  cursor: pointer;
}

#main{
	background: rgba(50,150,150,0.7);
	width:80%;
	margin: 10%;
	margin-bottom: 0;
  margin-top: 5%;
	padding: 1%;
	font-size: 1.20em;
  font-style:normal;
}

.button {
  background-color: #0141af;
}

.button:hover {background-color: #ba2a03}

.button:active {
  background-color: #ba2a03;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#componistsImg{
	margin-right: 1%;
}




.comment{
	background: rgba(40,160,160,0.1);
	border: 2px groove white;
  padding: 1% 2% 4.5%;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  float: right;
  box-shadow: none;
  transform: translateY(0);
}


.col-25 {
  float: left;
  width: 25%;
}


.col-75 {
  float: left;
  width: 75%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#myCanvas{
	width: 60%;
	height: 200px;
  margin-left: 20%;
  margin-right: 20%;
}

#myCanvas2{
	margin-left: 30%;
  width: 35%
}

.inactive{
    display: none
}

.style-img{
  width: 5%;
  margin-left: 90%;
  margin-top:2%;
}


#top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  z-index: 99;
  box-shadow: none;
  font-size: 0.9em;
}

.btn{
  color: white !important;
}
